SUBSYSTEMS=="usb", DRIVERS=="usb-storage", SUBSYSTEM=="block",  ENV{DEVTYPE}=="disk", ACTION=="add", RUN+="/usr/bin/systemctl start encfs@%k.service"

SUBSYSTEMS="usb", DRIVERS=="usb-storage", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ACTION=="remove", RUN+=/usr/bin/systemctl stop encfs@%k.service"
