[Unit]
Description="fuse-encfs service"

[Service]
Type=forking
User=root
PrivateTmp=yes
ExecStart=encfs-mount.sh -c /etc/fuse-encfs/config.json -d %I
ExecStop=encfs-unmount.sh

[Install]
WantedBy=multi-user.target
